@use './config' as *;
@use './globals' as *;
@use './hero' as *;
@use './form' as *;

.wrapper {
    background-color: #fff;
    @include breakpoint-down(medium) {
    height: 100vh;
    }
    @include breakpoint-up(large) {
        display: grid;
        grid-template-columns: 1fr 2fr;
        min-height: 100vh;   
    }
    
}